 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Cheng</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><div style="font-size:12px;width:300;text-align:justify; text-justify:inter-ideograph">
                        To sum up, I am currently a full-time student in The University of Chicago studying Computer Science. Love rock music, Denver Broncos, Guoan FC, and especially my wife Yuting. I hope I can be a lifelong learner.
                        </div>
                        </p>
                </div>
                <div class="col-lg-4">
                    <p>I will graduate in 2015 summer with Master of Science degree in Computer Science from Uchicago. I am looking for full-time work experience as software developer and data analyst. Welcome to talk with me.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-envelope"></i>  chengwu@uchicago.edu
                    </a>
                </div>
            </div>
        </div>
    </section>