 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Cheng</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        <div style="font-size:20px;width:300;text-align:justify; text-justify:inter-ideograph">
                            I am currently a full time student at the University of Chicago, pursuing a Master of Science in Computer Science with an anticipated graduation date of June 2015. 
                        </div>
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        <div style="font-size:20px;width:300;text-align:justify; text-justify:inter-ideograph">
                             I am seeking full-time employment opportunities in software development and data analysis. Please feel free to contact me.
                        </div>
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-envelope"></i>  chengwu@uchicago.edu
                    </a>
                </div>
            </div>
        </div>
    </section>